body {
    background-color: rgb(0, 183, 255);
    background-position: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

a.nav-link:link
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:active
{
   color: #000000;
   text-decoration: none;
}

.greet {
    font-size: 50px;
}

.pfp {
    width: 250px;
    border-radius: 100%;

    margin-top: 25px;
}

.intro {
    font-size: 35px;
}

.sections {
    display: flexbox;
}