.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
    margin-top: 30px;

    word-wrap: break-word;
    width: 500px;
}

.title, .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  
  text-align: center;
}

h4 {
    margin-top: auto;
}